<div class="form-group">
  <label for="title">Title</label>
  <input type="text"
         class="form-control"
         name="title"
         value="<%= todo.title %>">
</div>

<div class="form-group">
  <label for="completed">Completed</label>
  <input type="checkbox"
         class="form-control"
         name="completed"
         <%= todo.completed ? 'checked' : '' %> >
</div>
